{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
sudo apt install libssl-dev openssl
cargo install jj-cli --locked
jj config set --user user.name "Nathan Baer"
jj config set --user user.email "nbaer89@gmail.com"
{{ end -}}
